URxvt.font:                xft:monospace:pixelsize=13
URxvt.boldFont:            xft:monospace:pixelsize=13:bold
URxvt.italicFont:          xft:monospace:pixelsize=13:italic
URxvt.boldItalicFont:      xft:monospace:pixelsize=13:bold:italic
URxvt.letterSpace:         -1

! special
*.foreground:   #464646
*.background:   #f7f7f7
*.cursorColor:  #464646

! black
*.color0:       #101010
*.color8:       #525252

! red
*.color1:       #7c7c7c
*.color9:       #7c7c7c

! green
*.color2:       #8e8e8e
*.color10:      #8e8e8e

! yellow
*.color3:       #a0a0a0
*.color11:      #a0a0a0

! blue
*.color4:       #686868
*.color12:      #686868

! magenta
*.color5:       #747474
*.color13:      #747474

! cyan
*.color6:       #868686
*.color14:      #868686

! white
*.color7:       #b9b9b9
*.color15:      #f7f7f7

URxvt.internalBorder:      0
URxvt.externalBorder:      0

URxvt.scrollBar:           false

URxvt*fading:              30

URxvt.perl-ext-common: default,fullscreen
URxvt.keysym.F11: perl:fullscreen:switch

URxvt.colorUL:             #7780a1
